<section>
  <h1>Other Profiles</h1>

  <table border="0">
	  <tr>
		  <td><a href="http://www.linkedin.com/in/timtregubov" target="_blank"><img class="profile" src="/images/linkedin.png" alt="linkedin" border="0"></a></td>
		  <td><a href="http://www.facebook.com/tim.tregubov" target="_blank"><img class="profile" src="/images/facebook.png" alt="facebook" border="0"></a></td>
	  </tr>
	  <tr>
		  <td><a href="https://picasaweb.google.com/118205347316414616442" target="_blank"><img class="profile" src="/images/picasa.png" alt="picasa" border="0"></a></td>
		  <td><a href="http://www.youtube.com/user/timofei7" target="_blank"><img  class="profile" src="/images/youtube.png" alt="youtube" border="0"></a></td>
	  </tr>
  </table>
  
<!--
  <ul>
	  <li><a href="http://www.linkedin.com/in/timtregubov" target="_blank"><img src="/images/linkedin.png" alt="linkedin" border="0"></a></li>
	  <li><a href="http://www.facebook.com/tim.tregubov" target="_blank"><img src="/images/facebook.png" alt="facebook" border="0"></a></li>
	  <li><a href="https://picasaweb.google.com/118205347316414616442" target="_blank"><img src="/images/picasa.png" alt="picasa" border="0"></a></li>
	  <li><a href="http://www.youtube.com/user/timofei7" target="_blank"><img src="/images/youtube.png" alt="youtube" border="0"></a></li>
  </ul>
  -->
</section>
