// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much




h1 {
font-size: 1.2em;
line-height: 1.2em;
}

#content .blog-index article h1 {
font-size: 1.2em;
}


body {
	font-size: .9em;
}

#blog-archives h1 a {
	font-size: .9em;
}

#content .blog-index a[rel="full-article"] {
font-size: .8em;
}


p {
-webkit-margin-before: .7em;
-webkit-margin-after: .7em;
}


span.rank-5 { font-size: 1em; font-weight: 100; }
span.rank-4 { font-size: 1.2em; font-weight: 200; }
span.rank-3 { font-size: 1.4em; font-weight: 300; }
span.rank-2 { font-size: 1.6em; font-weight: 400; }
span.rank-1 { font-size: 1.8em; font-weight: 500; }


#blog-archives .entry-content {
	display: inline;
}
